{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5"
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}